{{ define "gems/data.tmpl" }}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" hx-get="http://localhost:2020/admin/api/v1/ui/gems" hx-target="#content">Gem Sources</a></li>
    <li class="breadcrumb-item"><a href="#" hx-get="http://localhost:2020/admin/api/v1/ui/gems/alpha" hx-target="#content">private</a></li>
    <li class="breadcrumb-item active" aria-current="page">a</li>
  </ol>
</nav>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>

    </tr>
  </thead>
  <tbody>
  {{ range .gems }}
    <tr>
    
      <td>{{ . }}</td>
    
    </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}
