{{ define "gems/alpha.tmpl" }}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" hx-get="http://localhost:2020/admin/api/v1/ui/gems" hx-target="#content">Gem Sources</a></li>
    <li class="breadcrumb-item active" aria-current="page">private</li>
  </ol>
</nav>
<br>
<table class="table table-dark table-striped">
  <tbody>
    <tr><td hx-get="http://localhost:2020/admin/api/v1/ui/gems/data?prefix=a" hx-target="#content"><strong>a/</strong></td></tr>
    <tr><td hx-get="http://localhost:2020/admin/api/v1/ui/gems/data?prefix=b" hx-target="#content"><strong>b/</strong></td></tr>
    <tr><td hx-get="http://localhost:2020/admin/api/v1/ui/gems/data?prefix=c" hx-target="#content"><strong>c/</strong></td></tr>
  </tbody>
</table>
{{ end }}
