{{ define "upload.tmpl" }}
<form hx-encoding="multipart/form-data">
    Select File:
    <input type="file" name="file" />
    <button
      hx-post="http://localhost:2020/private/upload"
      hx-include="[name='file']"
    >
      Upload File!
    </button>
</form>
{{ end }}