{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gemfast</title>
    <link rel="icon" href="./assets/favicon.ico" type="image/x-icon">
    <script src="./assets/htmx.org@1.3.3.min.js"></script>
    <link href="./assets/bootstrap@5.3.1.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <style>
      font-family: 'Fira Code', monospace;
    </style>
    <script>
      function copyAccessToken() {
        var accessToken = document.getElementById("accessToken");
        var value = accessToken.innerText || accessToken.textContent;
        navigator.clipboard.writeText(value);
        var copySuccess = document.getElementById("copySuccess");
        copySuccess.innerText = "copied!";
      }
    </script>
  </head>
  <body style="--bs-body-font-family: 'Fira Code'">
    <main>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/ui">Gemfast</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#" hx-get="/ui/gems" hx-target="#content" hx-trigger="click" hx-push-url="true">Gems</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" hx-get="/ui/upload" hx-target="#content" hx-push-url="true">Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" hx-get="/ui/tokens" hx-target="#content" hx-push-url="true">AccessTokens</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" hx-get="/ui/license" hx-target="#content" hx-push-url="true">License</a>
              </li>
            </ul>
            <br>
            {{ if eq .authType "github" }}
            <div class="px-2">
              <a href="/ui/github/logout" class="btn btn-outline-danger">Logout</a>
            </div>
            {{ end }}
          </div>
        </div>
      </nav>
      <hr>
      <div class="container-fluid" style="min-height: 200px;" id="content">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Search</li>
          </ol>
        </nav>
        <form class="d-flex px-4" role="search" style="margin-top: 60px;">
          <input name="gemName" class="form-control me-2" type="search" placeholder="Search for gems" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit" hx-post="/ui/gems/search" hx-target="#content">Search</button>
        </form>
      </div>
    </main>
    <div class="container-fluid" style="margin-top: 50px">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="https://gemfast.io" class="nav-link px-2 text-muted">Website</a></li>
          <li class="nav-item"><a href="https://gemfast.io/docs/installation/" class="nav-link px-2 text-muted">Documentation</a></li>
        </ul>
        <p class="text-center text-muted">© 2023 Gemfast</p>
      </footer>
    </div>
  </body>
</html>
{{ end }}
