{{ define "license" }}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">License Information</li>
  </ol>
</nav>
<br>
<div class="container-sm">
  <h2>Valid: </h2>
  {{ .license.Validated }}

  <hr>
  <h2>Machine: </h2>
  {{ .license.Machine }}

  <hr>
  <h2>Fingerprint: </h2>
  {{ .license.Fingerprint }}
</div>

{{ end }}