{{ define "gems/inspect" }}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" hx-get="http://localhost:2020/ui/gems" hx-target="#content">Gem Sources</a></li>
    <li class="breadcrumb-item"><a href="#" hx-get="http://localhost:2020/ui/gems/{{ .source }}/prefix" hx-target="#content">{{ .source }}</a></li>
    <li class="breadcrumb-item active"><a href="#" hx-get="http://localhost:2020/ui/gems/{{ .source }}/prefix/{{ .prefix }}" hx-target="#content">{{ .prefix }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .gem }}</li>
  </ol>
</nav>
<br>
<h1>
    {{ .spec.Name }} ({{ .spec.Version }}) <a role="button" class="btn" style="background-color: #00ADD8; color: white" href="http://localhost:2020/private/gems/{{ .spec.Name}}-{{ .spec.Version }}.gem">Download</a>
</h1>

<hr>
<p>
    {{ .spec.GemMetadata.Description }}
</p>

<hr> 
<h2>
  Gemfile:
</h2>
<code>
gem '{{ .spec.Name }}', '~> {{ .spec.Version }}'
</code>

<h2>
  Install:
</h2>
<code>
gem install {{ .spec.Name }}
</code>


<hr>
<h2>
  Versions:
</h2>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Version</th>
      <th scope="col">Platform</th>
      <th scope="col">SHA 256 Checksum</th>
    </tr>
  </thead>
  <tbody>
  {{ range .gemVersions }}
    <tr hx-get="http://localhost:2020/ui/gems/{{ $.source }}/prefix/{{ $.prefix }}/inspect/{{ .Name }}?version={{ .Number }}" hx-target="#content">
      <th>{{ .Number }}</th>
      <td>{{ .Platform }}</td>
      <td>{{ .Checksum }}</td>
    </tr>
  {{ end }}
  </tbody>
</table>

<hr>
<h2>
  Dependencies:
</h2>

{{ range .gv.Dependencies }}
{{ .Type }}
<code>{{ .Name }} {{ .VersionConstraints }}</code>
<br>
{{ end }}
<hr>
<h2>
  Authors:
</h2>
{{ range .spec.GemMetadata.Authors }}
{{ . }}
<br>
{{ end }}

<hr>
<h2>
  Homepage:
</h2>
<a href="{{ .spec.GemMetadata.Homepage }}">{{ .spec.GemMetadata.Homepage }}</a>
{{ end }}

