{{ define "gems/prefix" }}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" hx-get="/ui/gems" hx-target="#content" hx-push-url="true">Gem Sources</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .source }}</li>
  </ol>
</nav>
<br>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col" style="font-size: x-large">Prefix</th>
    </tr>
  </thead>
  <tbody>
    {{ range $key, $value := .dirs }}
    <tr>
      <td hx-get="/ui/gems/{{ $.source }}/prefix/{{ $key }}" hx-target="#content" hx-push-url="true"><a style="text-decoration: none; color: white" href="#">{{ $key }}/ ( {{ $value }} )</a></td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
